#slider {
	margin: 50px 10px;
}

#slider img {
	position: absolute;
	display: block;
}
#arrowL {
        position: absolute;
        top: 210px;
        right: 1270px;
}
#arrowR {
        position: absolute;
        top: 210px;
        right: 430px;
}